/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/*header starts here*/
header {
	display:flex;
	flex-direction: column;
	border: 2px solid red;
}

nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 2%;
}

nav >a:hover {
	background-color: grey;
	  color: white;
	  border: 1px solid blue;
}

nav a {
	padding: 20px;
	border-radius: 20px;
	color: grey;
}

/*.logo {
	What effects can I add to the logo?
}
*/

.title {
	border: 2px solid yellow;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 5%;
}

.title h1 {
	border: 2px solid red;
	font-size: 75px;
	/* padding: 10% 25% 10% 25%; */
	/* margin: 6%; */
}

.button-click {
	/* background: white;
	padding: 15px 32px;
	cursor: pointer; */
}
#secondimg {
	/* display: inline-block;
	vertical-align: middle;
	padding-left: 10%; */
}
/*header ends here*/
/* Top content starts here */
p {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
}

h2 {
	font-size: 35px;
}

.top-content {
	display: inline-block;
	border-top: 2px solid black;
	width:85%;
}

#Features {
	vertical-align: middle;
	width: 25%;
	margin: 10%;
	display: inline-block;
}

#About {
	display: inline-block;
	width: 25%;
	margin: 4%;
	vertical-align: middle;
}

/*third img should go under here*/
#middle-img {
	/* display: inline-block; I THINK THIS IS NOT NECESSARY */
	/* max-width: 100%; I DONT WHY, THIS I NOT WORKING i want it to display all across*/
}
/*bottom content start here*/
.bottom-content {
	display: inline-block;
	padding: 10% 0;
}
#Services {
	display: inline-block;
	width: 20%;
	margin: 2%;
	vertical-align: middle;
	/* background: yellow; */
}

#Product {
	display: inline-block;
	width: 20%;
	margin: 2%;
	vertical-align: middle;
}

#Vision {
	display: inline-block;
	width: 20%;
	margin: 2%;
	vertical-align: middle;
	/* background: yellow; */
}
/*here should go the contact style*/
#Contact {
	/* background: yellow; */
	padding:10% 0 10% 0;
	border-top: 2px solid black;
	width: 85%;
	margin: auto;

}
/*footer starts here*/
footer {
	background: black;
	color: white;
}
